* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Medieval";
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.grid div {
  border: 1px dotted black;
  box-sizing: border-box;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 150px;
  height: 150px;
}

.tileMoves {
  width: 150px;
  height: 150px;
  position: absolute;
  pointer-events: none;
  display: block;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 360px;
  height: 80px;

  & > img {
    width: 80px;
    height: 80px;
  }
}

#options {
  bottom: 8px;
  right: 460px;
}

#status {
  bottom: 8px;
  right: 0px;
  color: black;
  background: rgba(0, 0, 0, 0.161);
  border: 1px solid #e7af14;
  box-shadow: #333;
}

.arrow {
  width: 30px;
  height: 24px;
}

#a-top {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: rotate(180deg);
}

#a-right {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: rotate(270deg);
}

#a-bottom {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: rotate(0deg);
}

#a-left {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: rotate(90deg);
}

.rotate-right {
  position: absolute;
  top: 0px;
}

.player-turn {
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 1;
  background: linear-gradient(to right, #e7af14, #d33a07);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.706);
  position: fixed;
  top: 20px;
  right: 20px;
}

#options {
  display: flex;
  justify-content: center;
  gap: 16px;
}

#options img {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid goldenrod;
  box-sizing: content-box;
}

#options img:hover {
  background-color: #e6e6e6;
  transform: scale(1.1);
}

.tile-img {
  width: 150px;
  height: 150px;
}

.custom-alert {
  position: fixed;
  top: 20px;
  background: linear-gradient(to right, #e7af14, #d33a07);
  color: #333;
  border: 2px solid goldenrod;
  padding: 10px 20px;
  border-radius: 8px;
}
.grid div > .subgrid {
  width: 32%;
  height: 32%;
  position: absolute;
}

.left {
  top: 32%;
  left: 0px;
}

.top {
  top: 0px;
  left: 32%;
}

.right {
  top: 32%;
  right: 0px;
}

.bottom {
  bottom: 0px;
  left: 30%;
}

.middle {
  top: 32%;
  left: 32%;
}

.used-meeple {
  width: 100%;
  height: 100%;
}

.skip {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 32%;
  height: 32%;
  background-image: url("/assets/images/symbols/skip.png");
  background-size: contain;
}
.placeable-tile {
  background-color: greenyellow;
}

.invalid-placement {
  border: 1px solid red;
}
