body {
  background-image: url("/assets/images/login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: "MedievalSharp", cursive;
  text-shadow: 2px 2px 4px #000;
  font-weight: 400;
  font-size: 2.5rem;
  color: goldenrod;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-id-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.join-box {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.join-box:focus {
  border-color: goldenrod;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: goldenrod;
  color: black;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #e6b800;
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 2.5rem;
}

h1 {
  margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-alert {
  position: fixed;
  font-size: 1.5rem;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid goldenrod;
  padding: 10px 20px;
  border-radius: 8px;
  bottom: 34%;
}

#paste-button {
  width: 48px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    height: 40px;
    width: 40px;
  }
}
